[submodule "oh-my-zsh/oh-my-zsh.symlink"]
	path = oh-my-zsh/oh-my-zsh.symlink
	url = https://github.com/jmerkow/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
